:root {
  // header
  --header-bg-color: rgba(0, 0, 0, 0.8);

  // colore bottoni
  --btn-bg-color: var(--header-bg-color);
  --btn-text-color: rgb(254, 251, 251);
  --btn-hover-color: var(--product-bg-color);

  // card product
  --card-bg-color: rgba(179, 172, 172, 0.2);

  // main
  --body-bg-color: rgb(233, 231, 229, 0.5);
  --main-bg-color: var(--body--bg-color);
  // side
  --side-bg-color: rgba(34, 33, 33, 0.9);
  --side-text-color: var(--btn-text-color);

  // card restaurant
  --card-bg-color: linear-gradient(to bottom, #f8ede6, #f4ab7e, #ff6600);
  --card-text-color: black;

  // Card product
  --product-bg-color: var(--card-bg-color);
  // Single restaurant
  --restaurant-text-color: var(--card-text-color);

  //Badge restaurant
  --badge-bg-color: var(--card-bg-color);

  // Footer
  --footer-bg-color: var(--side-bg-color);

  // Links  hover text
  --link-text-color: orange;
  // Cart
  --cart-bg-color:var(--card-bg-color);

}
