:root {
  // header
  --header-bg-color:rgb(116, 123, 115);

  // card
  --card_bg_color: rgb(154, 160, 154);
  // colore bottoni
  --btn-bg-color: rgb(226, 216, 207);
  --btn-text-color: rgb(20, 20, 20);

  // main

  // --main-bg-color: rgb(116, 123, 115);
}
